<a href="https://colab.research.google.com/github/kristabhell12/mojixbootcamp_v2/blob/main/Copia_de_TEMPLATE_Bootcamp2_0_ipynb_Giovannka_Oliver.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandasql

# Pandas

## Exercise 1
Using pandas
Retrieve from df dataframe the number of cases and deaths in South America Countries.  (Hint: Use groupby by continent and location)

In [15]:
import pandas as pd

df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")
df.head()
df.groupby(['continent','location']).sum('South America')[['new_cases','new_deaths']]
#df.groupby(['class_life_expectancy'],sum()[["new_deaths"]])

                            new_cases  new_deaths
continent     location
Africa        Algeria        269556.0      6878.0
              Angola         102636.0      1920.0
              Benin           27525.0       163.0
              Botswana       325850.0      2777.0
              Burkina Faso    21128.0       387.0
...                               ...         ...
South America Paraguay       712907.0     19357.0
              Peru          4057917.0    215945.0
              Suriname        81007.0      1382.0
              Uruguay        975285.0      7429.0
              Venezuela      540796.0      5787.0

[231 rows x 2 columns]

In [ ]:
# Add your solution here
# df[df[]].groupby()....

## Exercise 2
Using pandas

1.  Create a new column called "class_life_expectancy" and classify life_expectancy column in 5 values:
  - 1_less_than_55
  - 2_between_55_and_64
  - 3_between_65_and_74
  - 4_equal_greater_than_75
  - 5_other
2.  Get the sum of new_deaths grouped by class_life_expectancy

In [32]:
#df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")
#df.head()
#df['class_life_expectancy']= '5_other'
df.loc[df['life_expectancy']<55, 'class_life_expectancy'] = '1_less_than_55'
df.loc[(df['life_expectancy']>=55) & (df['life_expectancy']<=64), 'class_life_expectancy'] = '2_between_55_and_64'
df.loc[(df['life_expectancy']>=65) & (df['life_expectancy']<=74), 'class_life_expectancy'] = '3_between_65_and_74'
df.loc[df['life_expectancy']>=75, 'class_life_expectancy'] = '4_equal_greater_than_75'
df.sample(10)
#df.head()
#df[['life_expectancy']]
#df[]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,class_life_expectancy
50842,DJI,Africa,Djibouti,2020-05-28,2914.0,217.0,123.857,20.0,2.0,1.429,...,24.5,NaN,1.400,67.11,0.524,NaN,NaN,NaN,NaN,3_between_65_and_74
161802,WSM,Oceania,Samoa,2021-03-03,3.0,0.0,0.000,NaN,NaN,NaN,...,38.1,NaN,NaN,73.32,0.715,NaN,NaN,NaN,NaN,3_between_65_and_74
62574,FRO,Europe,Faeroe Islands,2020-05-29,187.0,0.0,0.000,NaN,NaN,NaN,...,NaN,NaN,NaN,80.67,NaN,NaN,NaN,NaN,NaN,4_equal_greater_than_75
56842,GNQ,Africa,Equatorial Guinea,2022-02-18,15870.0,0.0,2.429,182.0,0.0,0.000,...,NaN,24.640,2.100,58.74,0.592,NaN,NaN,NaN,NaN,2_between_55_and_64
15589,BGD,Asia,Bangladesh,2020-08-08,255113.0,2611.0,2179.000,3365.0,32.0,33.286,...,44.7,34.808,0.800,72.59,0.632,NaN,NaN,NaN,NaN,3_between_65_and_74
29343,BGR,Europe,Bulgaria,2021-09-12,471272.0,437.0,1319.857,19522.0,53.0,58.143,...,44.4,NaN,7.454,75.05,0.816,35277.7,19.13,48.7,5123.203059,4_equal_greater_than_75
124808,MCO,Europe,Monaco,2022-07-01,13047.0,41.0,39.714,58.0,0.0,0.143,...,NaN,NaN,13.800,86.75,NaN,NaN,NaN,NaN,NaN,4_equal_greater_than_75
4199,AND,Europe,Andorra,2021-09-15,15108.0,9.0,5.429,130.0,0.0,0.000,...,37.8,NaN,NaN,83.73,0.868,NaN,NaN,NaN,NaN,4_equal_greater_than_75
76960,GTM,North America,Guatemala,2020-06-09,7866.0,364.0,325.714,289.0,22.0,23.714,...,NaN,76.665,0.600,74.30,0.663,NaN,NaN,NaN,NaN,5_other
55358,SLV,North America,El Salvador,2020-07-01,6736.0,298.0,226.571,182.0,8.0,9.000,...,18.8,90.650,1.300,73.32,0.673,NaN,NaN,NaN,NaN,3_between_65_and_74

In [34]:
df.groupby('class_life_expectancy').sum()[['new_deaths']]

                         new_deaths
class_life_expectancy
1_less_than_55               4288.0
2_between_55_and_64         32557.0
3_between_65_and_74       7927383.0
4_equal_greater_than_75   4653527.0
5_other                  14139572.0

## Exercise 3 (Inventory Discrepancy)


- Remove dups
- Aggregate
- Merge 2 datasets

In [58]:
df_expected = pd.read_csv("https://storage.googleapis.com/mojix-devops-wildfire-bucket/analytics/bootcamp_2_0/Bootcamp_DataAnalysis_Expected.csv", encoding="latin-1", dtype=str)

In [59]:
df_counted = pd.read_csv("https://storage.googleapis.com/mojix-devops-wildfire-bucket/analytics/bootcamp_2_0/Bootcamp_DataAnalysis_Counted.csv", encoding="latin-1", dtype=str)

In [60]:
df_expected.head()

,Retail_Clearance,Retail_InTransitQTY,Retail_Product_Color,Retail_Product_Dimension,Retail_Product_ExternalSKU,Retail_Product_ImageURL,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2,Retail_Product_Level2Name,...,Retail_SFMax,Retail_SFMin,Retail_SOHDate,Retail_SOHQTY,Retail_SOHQTY_SF,Retail_SOHQTY_SR,Retail_StoreInProcess,Retail_StoreNumber,serial,thingTypeId
0,false,0,BRANCO,NaVal,NaVal,NaVal,C,VESTUARIO,NaVal,CR,...,0,0,2022-08-16 07:00:36.468,1,1,0,0,233,233_009568860004,384
1,false,0,ROSA,NaVal,NaVal,NaVal,C,VESTUARIO,NaVal,CY,...,0,0,2022-08-16 07:00:36.468,3,3,0,0,233,233_009384260002,384
2,false,0,NaN,NaVal,NaVal,NaVal,H,ELETRO-ELETRONICOS,NaVal,HZ,...,0,0,2022-08-16 07:00:36.468,1,1,0,0,233,233_009735510000,384
3,false,0,JEANS,NaVal,NaVal,NaVal,C,VESTUARIO,NaVal,CY,...,0,0,2022-08-16 07:00:36.468,3,3,0,0,233,233_009579550002,384
4,false,0,JEANS,NaVal,NaVal,NaVal,C,VESTUARIO,NaVal,CY,...,0,0,2022-08-16 07:00:36.468,2,2,0,0,233,233_009633210004,384

In [61]:
df_counted.head()

,RFID,Retail_CycleCountDate,Retail_CycleCountDate_ts,Retail_Disposition,Retail_Product_Color,Retail_Product_ImageURL,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2,Retail_Product_Level2Name,...,Retail_ZoneName,Retail_ZoneType,shardId,viz_groupCode,viz_groupId,viz_id,viz_serialNumber,viz_source,viz_thingTypeCode,viz_time
0,E00000000000000000113053,2022-08-16 11:16:06.159,1660648566159,SELLABLE_ACCESSIBLE,NaN,NaN,NaN,NaN,NaN,NaN,...,233_SALESFLOOR,SALESFLOOR,23,NaN,23,23.356.9025563068704443,E00000000000000000113053,MOBILE,ITEM,2022-08-16 11:16:06.159
1,303405369430D444A817D9A4,2022-08-16 11:16:06.159,1660648566159,SELLABLE_ACCESSIBLE,NaN,NaN,H,ELETRO-ELETRONICOS,NaN,HD,...,233_SALESFLOOR,SALESFLOOR,23,NaN,23,23.356.13836371861512146,303405369430D444A817D9A4,MOBILE,ITEM,2022-08-16 11:16:06.159
2,303405B31009C484A817D9FC,2022-08-16 11:16:06.159,1660648566159,SELLABLE_ACCESSIBLE,NaN,NaN,H,ELETRO-ELETRONICOS,NaN,HB,...,233_SALESFLOOR,SALESFLOOR,23,NaN,23,23.356.13871892345401185,303405B31009C484A817D9FC,MOBILE,ITEM,2022-08-16 11:16:06.159
3,3034055DD0271040EE7A6CC2,2022-08-16 11:16:06.159,1660648566159,SELLABLE_ACCESSIBLE,NaN,NaN,H,ELETRO-ELETRONICOS,NaN,HJ,...,233_SALESFLOOR,SALESFLOOR,23,NaN,23,23.356.13987320026117128,3034055DD0271040EE7A6CC2,MOBILE,ITEM,2022-08-16 11:16:06.159
4,303405C5CC57E4428FA6AE49,2022-08-16 11:16:06.159,1660648566159,SELLABLE_ACCESSIBLE,NaN,NaN,B,LAR- TEXTIL,NaN,BN,...,233_SALESFLOOR,SALESFLOOR,23,NaN,23,23.356.13595963301105791,303405C5CC57E4428FA6AE49,MOBILE,ITEM,2022-08-16 11:16:06.159

In [62]:
df_expected.sample(2).T

,2328,2273
Retail_Clearance,false,false
Retail_InTransitQTY,0,0
Retail_Product_Color,NaN,JEANS
Retail_Product_Dimension,NaVal,NaVal
Retail_Product_ExternalSKU,NaVal,NaVal
Retail_Product_ImageURL,NaVal,NaVal
Retail_Product_Level1,H,C
Retail_Product_Level1Name,ELETRO-ELETRONICOS,VESTUARIO
Retail_Product_Level2,NaVal,NaVal
Retail_Product_Level2Name,HB,CY
Retail_Product_Level3,HBH,CYC
Retail_Product_Level3Name,HBH,CYC
Retail_Product_Level4,HBHAC,CYCBB
Retail_Product_Level4Name,HBHA,CYCB
Retail_Product_Level5,MOTO G31 AZUL,JEANS
Retail_Product_Level5Name,HBHAA,CYCBB
Retail_Product_Manufacturer,NaVal,NaVal
Retail_Product_Name,MOTO G31 128GB AZUL,CALCA JEANS PS PRD INK USED TANK BARRA D
Retail_Product_RFIDTagged,NaVal,NaVal
Retail_Product_SKU,9389690000,9481090001
Retail_Product_Size,NaN,46
Retail_Product_Style,MOTOROLA,CALÃ‡A JEANS PLUS
Retail_Product_UOM,NaVal,NaVal
Retail_Product_UPC,00093896900011,00094810900148
Retail_Product_UPCs,00093896900011,00094810900148
Retail_SFMax,0,0
Retail_SFMin,0,0
Retail_SOHDate,2022-08-16 07:00:36.468,2022-08-16 07:00:36.468
Retail_SOHQTY,2,1
Retail_SOHQTY_SF,2,1
Retail_SOHQTY_SR,0,0
Retail_StoreInProcess,0,0
Retail_StoreNumber,233,233
serial,233_009389690000,233_009481090001
thingTypeId,384,384

In [63]:
df_expected.shape

(3187, 35)

In [64]:
df_expected['Retail_Product_SKU'].nunique()

3187

In [65]:
df_counted.sample(2).T

,6676,1962
RFID,30340505A41D51428FA6B80E,303405E57057EA428FA6AE41
Retail_CycleCountDate,2022-08-16 12:38:46.852,2022-08-16 12:31:32.768
Retail_CycleCountDate_ts,1660653526852,1660653092768
Retail_Disposition,SELLABLE_ACCESSIBLE,SELLABLE_ACCESSIBLE
Retail_Product_Color,PRETO,ROSA
Retail_Product_ImageURL,NaN,NaN
Retail_Product_Level1,C,C
Retail_Product_Level1Name,VESTUARIO,VESTUARIO
Retail_Product_Level2,NaN,NaN
Retail_Product_Level2Name,C2,CS
Retail_Product_Level3,C2A,CSA
Retail_Product_Level3Name,C2A,CSA
Retail_Product_Name,CORSARIO BAS PA PTO W C2 M PRETO,BLUSA SEM MANGA CS PRD coordenado 2 VIVA
Retail_Product_SKU,8228130002,9660490002
Retail_Product_Size,M,P
Retail_Product_Style,CALÃ‡A,BLUSA MALHA
Retail_Product_UOM,NaN,NaN
Retail_Product_UPC,00082281300215,00096604900259
Retail_StoreNumber,233,233
Retail_ZoneName,233_SALESFLOOR,233_SALESFLOOR
Retail_ZoneType,SALESFLOOR,SALESFLOOR
shardId,23,23
viz_groupCode,NaN,NaN
viz_groupId,23,23
viz_id,23.356.13379469938819443,23.356.14234499147120227
viz_serialNumber,30340505A41D51428FA6B80E,303405E57057EA428FA6AE41
viz_source,MOBILE,MOBILE
viz_thingTypeCode,ITEM,ITEM
viz_time,2022-08-16 12:38:46.852,2022-08-16 12:31:32.768

In [66]:
df_counted.shape

(7924, 29)

In [67]:
df_counted['RFID'].nunique()

7712

In [68]:
df_counted = df_counted.drop_duplicates('RFID')

In [71]:
df_B = df_counted.groupby('Retail_Product_SKU').count()[['RFID']].reset_index()

In [72]:
df_B.head()

  Retail_Product_SKU  RFID
0         3555270034     1
1         3555270035     2
2         3555270036     2
3         3741470002     1
4         3741470003     3

In [73]:
df_expected.head()

,Retail_Clearance,Retail_InTransitQTY,Retail_Product_Color,Retail_Product_Dimension,Retail_Product_ExternalSKU,Retail_Product_ImageURL,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2,Retail_Product_Level2Name,...,Retail_SFMax,Retail_SFMin,Retail_SOHDate,Retail_SOHQTY,Retail_SOHQTY_SF,Retail_SOHQTY_SR,Retail_StoreInProcess,Retail_StoreNumber,serial,thingTypeId
0,false,0,BRANCO,NaVal,NaVal,NaVal,C,VESTUARIO,NaVal,CR,...,0,0,2022-08-16 07:00:36.468,1,1,0,0,233,233_009568860004,384
1,false,0,ROSA,NaVal,NaVal,NaVal,C,VESTUARIO,NaVal,CY,...,0,0,2022-08-16 07:00:36.468,3,3,0,0,233,233_009384260002,384
2,false,0,NaN,NaVal,NaVal,NaVal,H,ELETRO-ELETRONICOS,NaVal,HZ,...,0,0,2022-08-16 07:00:36.468,1,1,0,0,233,233_009735510000,384
3,false,0,JEANS,NaVal,NaVal,NaVal,C,VESTUARIO,NaVal,CY,...,0,0,2022-08-16 07:00:36.468,3,3,0,0,233,233_009579550002,384
4,false,0,JEANS,NaVal,NaVal,NaVal,C,VESTUARIO,NaVal,CY,...,0,0,2022-08-16 07:00:36.468,2,2,0,0,233,233_009633210004,384

In [76]:
df_B = df_counted.groupby('Retail_Product_SKU').count()[['RFID']].reset_index().rename(columns={'RFID':'Retail_CCQTY'})

In [77]:
df_B.sample(10)

     Retail_Product_SKU  Retail_CCQTY
96           7744280001             3
1676         9470230002             1
1639         9465200000             2
469          9170490000             1
3682         9687100004             1
1037         9395940008             1
278          8688010000             2
2368         9543620003             1
131          8218660003             3
305          8806210003             3

In [85]:
df_expected.head().T
my_cols_selected=['Retail_Product_Color',
'Retail_Product_Level1',
'Retail_Product_Level1Name',
'Retail_Product_Level2Name',
'Retail_Product_Level3Name',
'Retail_Product_Level4Name',
'Retail_Product_Name',
'Retail_Product_SKU',
'Retail_Product_Size',
'Retail_Product_Style',
'Retail_SOHQTY']

In [86]:
df_A = df_expected[my_cols_selected]

In [88]:
df_A.head().T

,0,1,2,3,4
Retail_Product_Color,BRANCO,ROSA,NaN,JEANS,JEANS
Retail_Product_Level1,C,C,H,C,C
Retail_Product_Level1Name,VESTUARIO,VESTUARIO,ELETRO-ELETRONICOS,VESTUARIO,VESTUARIO
Retail_Product_Level2Name,CR,CY,HZ,CY,CY
Retail_Product_Level3Name,CRB,CYA,HZB,CYA,CYC
Retail_Product_Level4Name,CRBK,CYAE,HZBO,CYAA,CYCD
Retail_Product_Name,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,CALCA JEANS CF MSA INK USED TANK DIRT LI,SHORT JEANS PS PRD BARRA DOBRADA E PREGA
Retail_Product_SKU,9568860004,9384260002,9735510000,9579550002,9633210004
Retail_Product_Size,P,40,NaN,38,52
Retail_Product_Style,KIT CALCINHA,BOTTOM CURTO SARJA,KIT FEMININO PRATA,CALÃ‡A JEANS,BOTTOM CURTO JEANS PLUS
Retail_SOHQTY,1,3,1,3,2

In [98]:
df_discrepancy = pd.merge(df_A, df_B, how='outer',left_on='Retail_Product_SKU', right_on='Retail_Product_SKU',indicator= True)

In [99]:
df_discrepancy.head()

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge
0,BRANCO,C,VESTUARIO,CR,CRB,CRBK,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,9568860004,P,KIT CALCINHA,1,1.0,both
1,ROSA,C,VESTUARIO,CY,CYA,CYAE,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,9384260002,40,BOTTOM CURTO SARJA,3,1.0,both
2,NaN,H,ELETRO-ELETRONICOS,HZ,HZB,HZBO,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,9735510000,NaN,KIT FEMININO PRATA,1,1.0,both
3,JEANS,C,VESTUARIO,CY,CYA,CYAA,CALCA JEANS CF MSA INK USED TANK DIRT LI,9579550002,38,CALÃ‡A JEANS,3,3.0,both
4,JEANS,C,VESTUARIO,CY,CYC,CYCD,SHORT JEANS PS PRD BARRA DOBRADA E PREGA,9633210004,52,BOTTOM CURTO JEANS PLUS,2,NaN,left_only

In [101]:
df_discrepancy.head()

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge
0,BRANCO,C,VESTUARIO,CR,CRB,CRBK,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,9568860004,P,KIT CALCINHA,1,1.0,both
1,ROSA,C,VESTUARIO,CY,CYA,CYAE,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,9384260002,40,BOTTOM CURTO SARJA,3,1.0,both
2,NaN,H,ELETRO-ELETRONICOS,HZ,HZB,HZBO,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,9735510000,NaN,KIT FEMININO PRATA,1,1.0,both
3,JEANS,C,VESTUARIO,CY,CYA,CYAA,CALCA JEANS CF MSA INK USED TANK DIRT LI,9579550002,38,CALÃ‡A JEANS,3,3.0,both
4,JEANS,C,VESTUARIO,CY,CYC,CYCD,SHORT JEANS PS PRD BARRA DOBRADA E PREGA,9633210004,52,BOTTOM CURTO JEANS PLUS,2,0.0,left_only

In [100]:
df_discrepancy['Retail_CCQTY']=df_discrepancy['Retail_CCQTY'].fillna(0)

In [102]:
df_discrepancy['Retail_CCQTY']=df_discrepancy['Retail_CCQTY'].astype(int)

In [103]:
df_discrepancy.head()

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge
0,BRANCO,C,VESTUARIO,CR,CRB,CRBK,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,9568860004,P,KIT CALCINHA,1,1,both
1,ROSA,C,VESTUARIO,CY,CYA,CYAE,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,9384260002,40,BOTTOM CURTO SARJA,3,1,both
2,NaN,H,ELETRO-ELETRONICOS,HZ,HZB,HZBO,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,9735510000,NaN,KIT FEMININO PRATA,1,1,both
3,JEANS,C,VESTUARIO,CY,CYA,CYAA,CALCA JEANS CF MSA INK USED TANK DIRT LI,9579550002,38,CALÃ‡A JEANS,3,3,both
4,JEANS,C,VESTUARIO,CY,CYC,CYCD,SHORT JEANS PS PRD BARRA DOBRADA E PREGA,9633210004,52,BOTTOM CURTO JEANS PLUS,2,0,left_only

In [104]:
df_discrepancy['Diff']=df_discrepancy['Retail_CCQTY']-df_discrepancy['Retail_SOHQTY']

TypeError: ignored

In [106]:
df_discrepancy['Retail_SOHQTY']=df_discrepancy['Retail_SOHQTY'].fillna(0).astype(int)

In [107]:
df_discrepancy['Diff']=df_discrepancy['Retail_CCQTY']-df_discrepancy['Retail_SOHQTY']

In [108]:
df_discrepancy.head()

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge,Diff
0,BRANCO,C,VESTUARIO,CR,CRB,CRBK,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,9568860004,P,KIT CALCINHA,1,1,both,0
1,ROSA,C,VESTUARIO,CY,CYA,CYAE,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,9384260002,40,BOTTOM CURTO SARJA,3,1,both,-2
2,NaN,H,ELETRO-ELETRONICOS,HZ,HZB,HZBO,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,9735510000,NaN,KIT FEMININO PRATA,1,1,both,0
3,JEANS,C,VESTUARIO,CY,CYA,CYAA,CALCA JEANS CF MSA INK USED TANK DIRT LI,9579550002,38,CALÃ‡A JEANS,3,3,both,0
4,JEANS,C,VESTUARIO,CY,CYC,CYCD,SHORT JEANS PS PRD BARRA DOBRADA E PREGA,9633210004,52,BOTTOM CURTO JEANS PLUS,2,0,left_only,-2

In [111]:
df_discrepancy['Unders']=df_discrepancy['Unders'].fillna(0).astype(int)

In [109]:
df_discrepancy.loc[df_discrepancy['Diff']<0, 'Unders']=df_discrepancy['Diff']*(-1)

In [110]:
df_discrepancy.head()

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge,Diff,Unders
0,BRANCO,C,VESTUARIO,CR,CRB,CRBK,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,9568860004,P,KIT CALCINHA,1,1,both,0,NaN
1,ROSA,C,VESTUARIO,CY,CYA,CYAE,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,9384260002,40,BOTTOM CURTO SARJA,3,1,both,-2,2.0
2,NaN,H,ELETRO-ELETRONICOS,HZ,HZB,HZBO,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,9735510000,NaN,KIT FEMININO PRATA,1,1,both,0,NaN
3,JEANS,C,VESTUARIO,CY,CYA,CYAA,CALCA JEANS CF MSA INK USED TANK DIRT LI,9579550002,38,CALÃ‡A JEANS,3,3,both,0,NaN
4,JEANS,C,VESTUARIO,CY,CYC,CYCD,SHORT JEANS PS PRD BARRA DOBRADA E PREGA,9633210004,52,BOTTOM CURTO JEANS PLUS,2,0,left_only,-2,2.0

In [112]:
df_discrepancy.head()

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge,Diff,Unders
0,BRANCO,C,VESTUARIO,CR,CRB,CRBK,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,9568860004,P,KIT CALCINHA,1,1,both,0,0
1,ROSA,C,VESTUARIO,CY,CYA,CYAE,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,9384260002,40,BOTTOM CURTO SARJA,3,1,both,-2,2
2,NaN,H,ELETRO-ELETRONICOS,HZ,HZB,HZBO,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,9735510000,NaN,KIT FEMININO PRATA,1,1,both,0,0
3,JEANS,C,VESTUARIO,CY,CYA,CYAA,CALCA JEANS CF MSA INK USED TANK DIRT LI,9579550002,38,CALÃ‡A JEANS,3,3,both,0,0
4,JEANS,C,VESTUARIO,CY,CYC,CYCD,SHORT JEANS PS PRD BARRA DOBRADA E PREGA,9633210004,52,BOTTOM CURTO JEANS PLUS,2,0,left_only,-2,2

In [113]:
df_discrepancy.groupby('Retail_Product_Level1Name').sum()

                           Retail_SOHQTY  Retail_CCQTY  Diff  Unders
Retail_Product_Level1Name
BELEZA                               729           647   -82      84
ELETRO-ELETRONICOS                   206           193   -13      14
VESTUARIO                           6376          2891 -3485    3516

In [114]:
df_discrepancy.groupby('Retail_Product_Level2Name').sum()

                           Retail_SOHQTY  Retail_CCQTY  Diff  Unders
Retail_Product_Level2Name
C5                                   291           100  -191     191
C6                                   698           455  -243     257
C7                                   166           123   -43      45
C8                                   315           102  -213     213
C9                                   148            59   -89      89
CJ                                   531           399  -132     133
CM                                   668            30  -638     638
CN                                   427           369   -58      67
CP                                   675           157  -518     518
CR                                   511           461   -50      52
CY                                  1946           636 -1310    1313
HB                                    89            75   -14      14
HJ                                    17            17     0       0
HZ                                   100           101     1       0
WA                                   348           297   -51      51
WB                                   169           159   -10      11
WK                                    87            87     0       0
WL                                   125           104   -21      22